<ion-view>
    <ion-content scroll="false">
        <img class="bj" src="img/bj_2.jpg" alt=""/>
        <img id="img_top" src="img/second_up_3.png" alt=""/>
        <img class="weather_list_i" src="img/second_cen_3.png" alt=""/>
        <div class="weather_list_t">
            <div id="weather_1" ng-click=""></div>
            <div id="weather_2" ng-click=""></div>
            <div id="weather_3" ng-click=""></div>
            <div id="weather_4" ng-click=""></div>
            <div id="weather_5" ng-click=""></div>
            <div id="weather_6" ng-click=""></div>
        </div>
        <div id="gobanquan" ng-click="goBanQuan()"></div>
    </ion-content>
</ion-view>
